*{
    user-select: none;
    font-family: "Orbitron";
}

body, div{
    padding: 0;
    margin: 0;
}

body{
    background-image: url("/img/Bew0.gif");
    background-size: cover;
    background-position: center -500px;
}
header, body{
    max-height: 100%;
    display: flex;
    justify-content: center;

}

img{
    margin-right: 400px;
    margin-bottom: 500px;
    position: fixed;
    mix-blend-mode: difference;
    filter: grayscale();
    z-index: -1;
}



.nombre h1{

    position: flex;
    margin-top: 300px;
    font-size: 80px;
    color: rgb(255, 255, 255);
    mix-blend-mode:difference;
    border: solid white 10px;
    padding: 10px;
    transition: transform 0.8s;
    
}

.nombre h1:hover{

    transform: scale(1.3);
    cursor: none;
    
    
}
