* {
    box-sizing: border-box;
}

body,div,ul,li,a,h1,h2,h3,h4,p{
    margin: 0;
    padding: 0;
}
body{
    --bg-color: color-mix(in srgb, #f62 70%, #fff);
    --card-color: #fff;
    --card-bg-color: #fff6;
    --dark-color: #f62;
    --text-color: #444;
    background-color: var(--bg-color); 
    font-family: Montserrat;
    display: flex;

}

.card{
    max-width: clamp(160px, 50%, 320px);
    background-color: var(--card-bg-color) ;
    margin: 50px auto;
    position: relative;
    border-radius: 10px;
    
}

.card__back, .card__front{
    backface-visibility: hidden;
    transition: transform 1s;
    background-color: var(--card-color);
    border-radius: 10px;
}

.card:hover .card__front{

    transform: perspective(1200px) rotateY(180deg);
}

.card:hover .card__back{

    transform: perspective(1200px) rotateY(360deg);
}

.card__front{
    
    transform: perspective(1200px) rotateY(0deg);
}

.card__back{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 12px;
    transform: perspective(1200px) rotateY(180deg);
}

.card__worker{
    max-height: 150px;
    overflow: hidden;
    display: block;
}
.card__worker img{
    max-width: 100%;
    border-radius: 10px;
}

.card__data{
    padding: 12px;
}

.card__data span{
    font-size: 1.4rem;
    margin: 6px 0;
    display: block;
}

.bar {
    border: 4px solid var(--dark-color);
    margin: 30px;
    border-radius: 12px;
    padding: 6px;
}

.card__back span{

    border-bottom:solid #f62 2px;
    padding-bottom: 2px;
    display: inline-block;
    margin-top: 7px;
    margin-left: 10px;

}

.card__back div{
    background-color: #f62;
    padding: 3px;
    color: #fff;
}